@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9D4EDD;
    background: linear-gradient(135deg, rgba(157, 78, 221, 1) 0%, rgba(123, 44, 191, 1) 35%, rgba(90, 24, 154, 1) 100%);
}

.login{
    height: 500px;
    width: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.login.show {
    opacity: 1;
    transform: translateY(0);
}

.login h1{
    margin-bottom: 10px;
}

.left-login, .right-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.left-login{
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    gap: 20px;
}

.left-login .underline{
    border-bottom: 3px solid  rgba(123, 44, 191, 1);
}

.left-login .text-field{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-field input{
    height: 40px;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    font-size: 15px;
    outline: none;
}

.text-field .input{
    border-bottom: 2px solid rgb(161, 161, 161);
}

.text-field input::placeholder{
    font-family: "Mulish", sans-serif;
    color: rgb(107, 107, 107);
}

.input i{
    position: absolute;
    transform: translateY(50%);
    color:  rgba(123, 44, 191, 1);
}

.link-area{
    color: rgba(123, 44, 191, 1);
    text-decoration: none;
}

.link-area:hover{
    text-decoration: underline;
}

.btn{
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #9D4EDD;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.1s ease-in-out;
}

.btn:hover{
    transform: scale(1.03);
}

.btn:active{
    background-color: #5a189a;
}

.sign-up{
    text-align: center;
}

.right-login{
    background-image: url(https://vbmc.com.br/wp-content/uploads/2021/04/10_passos_projeto_de_consultoria_empresarial.jpg);
    background-size: cover;
    background-color: rgb(205, 144, 255);
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-login h1{
    margin: 0;
    margin-bottom: 4px;
}

.btn2{
    width: 30%;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    border-radius: 60px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 15px;
}

.alternative-login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: rgb(161, 161, 161);
    font-weight: 700;
}
.alternative-login hr{
    flex: 1;
    border: 2px solid rgb(161, 161, 161);
    border-bottom: 1px solid #ccc;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
}

.social-media i{
    color: #9D4EDD;
    font-size: 30px;
    transition: font-size 0.3s ease-in-out;
    cursor: pointer;
}

.social-media i:hover{
    font-size: 35px;
}

.social-media i:active{
    color:  #5a189a;
}

